# extends 'layout.html'
<!DOCTYPE html>
<html>
  <head>
    <title>
      # block title
      #   if title:
      ${title} ${ super() }
      #   endif
      # endblock title
    </title>

    # block head
    ${ super() }
    # endblock head
  </head>
  <body>
    # block content
    <div id="content" class="tracmailman">
      <h1><label for="search">Mailing List Search</label></h1>

      # if authenticated:
      <form action="tracmailman/search" method="get" id="update">
        <input type="text" name="query" id="search" value="${query}" class="trac-autofocus" size="40"/>
        <select name="search_list">
          <option value="all" selected="selected">All lists</option>
          # for list in mail_archives:
          <option value="${list}">${list}</option>
          # endfor
        </select>
        <input type="submit" value="Search"/>
      </form>
      <div class="trac-help">
        <p><strong>Note:</strong> Documentation on all search capabilities can be found <a href="https://www.esa.org/tiee/search/html/swish-search.html#searching_syntax_and_operations">here</a>.</p>
      </div>

      <h2>Browse Mailing Archives</h2>
      <h3>Choose an archive to browse.</h3>
      <ul>
        # for list in mail_archives:
        # if list in pub_archives:
        <li><a href="tracmailman/browser/public/${list}/index.html">${list}</a></li>
        # endif
        # if list in priv_archives:
        <li><a href="tracmailman/browser/private/${list}/index.html">${list}</a></li>
        # endif
        # endfor
      </ul>
      # endif

      ${ super() }
    </div>
    # endblock content
  </body>
</html>
