# extends 'layout.html'
<!DOCTYPE html>
<html>
  <head>
    <title>
      # block title
      #   if title:
      ${title} ${ super() }
      #   endif
      # endblock title
    </title>

    # block head
	{# This CSS does not appear to be used.
    <style type="text/css">
      table.updateMessages
      {
      background-color: lightyellow;
      border-collapse: collapse; border: 1px solid black;
      }
    </style>
    #}
    ${ super() }
    # endblock head
  </head>
  <body>
    # block content
    <h1>Mailing List Search</h1>
    <div id="content" class="tracswishe">

    # if authenticated:
    <form action="search" method="get" id="update">
      <input type="text" name="query" value="${query}"/>
      <select name="search_list">
        <option value="all" ${{'selected': search_list == 'all'}}>All lists</option>
        # for list in mail_archives:
        # if list == search_list:
        <option value="${list}" ${{'selected': search_list == list}|htmlattr}>${list}</option></py:when>
        # endif
        # endfor
      </select>
      <input type="submit" value="Search" />
    </form>

    # if numHits == 0:
    <h2>No results</h2>
    # endif

    # if results:
    <h2>Results: ${numHits} found. Displaying results ${firstHit+1} to ${lastHit}</h2>
    <hr/>
    # for hit in results:
    <p>${hit.number}. <a href="${hit.path}">${hit.title}</a><br/><em>${hit.description} &hellip;</em><br/></p>
    # endfor
    <p>Result Navigation:
    # for i in range(0, maxPage):
    # if i == currentPage:
    ${i+1}
    # else:
    <a href="search?query=${query}&amp;search_list=${search_list}&amp;page=${i+1}">${i+1}</a>
    # endif
    # endfor
    </p>

    # endif
    # endif

    </div>

    ${ super() }

    # endblock content

  </body>
</html>
